.view{
	margin-bottom: 44px;
	display: block;
}
.example {
	padding: 15px;
}
.example-title {} .example-description {
	text-indent: 25px;
}
.example-content {
	position: relative;
	border-radius: 6px;
	border: 1px solid #CCCCCC;
	border-bottom-right-radius: 0;
	padding: 44px 15px 10px;
}
.example-content:after {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #959595;
	text-transform: uppercase;
	letter-spacing: 1px;
	content: "Example";
}
.example-model {
	position: relative;
	margin-bottom: 15px;
}
.example-code {
	display: none;
}
.example-footer {
	background: #FFFFFF;
	margin-top: -1px;
	border: 1px solid #CCCCCC;
	border-top: 0;
	border-radius: 6px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	float: right;
	position: relative;
	padding: 5px 10px;
}
.example-btn {
	background: #FFFFFF;
	
}